<body>
    <div class="content-container">
        <div class="profile-container" *ngFor="let user of userDetails">
            <mat-card>
                <div class="profile-picture" fxLayoutAlign="center center">
                    <!-- <img mat-card-image [src]="user?.image" class="custom-picture"> -->
                    <img mat-card-image src="https://www.w3schools.com/howto/img_avatar.png">
                </div>
                <div class="user-details">
                    <h3>Hi {{ user.username }}!</h3>
                    <p>{{ user.email }}</p>
                </div>
                <div class="update-section">
                    <button mat-raised-button color="accent" [routerLink]="['/updateprofile']">Edit Profile</button>
                </div>
            </mat-card>
        </div>

        <!-- PROGRAM POST HISTORY -->
        <div class="heading">
            <h5>Program posts history</h5>
        </div>
        <div class="program-history-container" *ngIf="programs.length > 0; else noPrograms">
            <mat-card *ngFor="let program of programs" [routerLink]="['/detailedprogram', program.id]">
                <div class="image-wrapper">
                    <img mat-card-image [src]="program?.image" class="custom-picture">
                </div>
                <mat-card-header>
                    <mat-card-title><a [routerLink]="['/detailedprogram', program.id]">{{ program.programTitle}}</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><mat-icon>calendar_today</mat-icon>{{ program.startDate | date:'dd/MM/yyyy' }} - {{ program.endDate | date:'dd/MM/yyyy' }}</p>
                    <p><mat-icon>access_time</mat-icon>{{ program.startTime }} - {{ program.endTime }}</p>
                    <p><mat-icon>location_on</mat-icon>{{ program.location }}</p>
                    <div id="datePublished">Published on {{ program.datePublished | date:'d MMM, yyyy' }}</div>
                    <button mat-icon-button id="actions" routerLink="edit"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button id="actions" routerLink="delete"><mat-icon>delete</mat-icon></button>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noPrograms>
            <div class="empty-results" fxLayoutAlign="center center">You have not posted any programs...</div>
        </ng-template>

        <!-- BUSINESS POST HISTORY -->
        <div class="heading">
            <h5>Business posts history</h5>
        </div>
        <div class="business-history-container" *ngIf="businesses.length > 0; else noBusinesses">
            <mat-card *ngFor="let business of businesses" [routerLink]="['/detailedbusiness', business.id]">
                <div class="image-wrapper">
                    <img mat-card-image [src]="business?.image" class="custom-picture">
                </div>
                <mat-card-header>
                    <mat-card-title><a [routerLink]="['/detailedbusiness', business.id]">{{ business.businessTitle }}</a></mat-card-title>
                </mat-card-header>
                <mat-card-content id="business">
                    <p>{{ business.description | truncate:10 }}</p>
                    <div id="datePublished">Published on {{ business.datePublished | date:'d MMM, yyyy' }}</div>
                    <button mat-icon-button id="actions" routerLink="edit"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button id="actions" routerLink="delete"><mat-icon>delete</mat-icon></button>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noBusinesses>
            <div class="empty-results" fxLayoutAlign="center center">You have not posted any businesses...</div>
        </ng-template>

        <!-- SURVEY POST HISTORY -->
        <div class="heading">
            <h5>Survey posts history</h5>
        </div>
        <div class="survey-history-container" *ngIf="surveys.length > 0; else noSurveys">
            <mat-card *ngFor="let survey of surveys" [routerLink]="['/detailedsurvey', survey.id]">
                <mat-card-header>
                    <mat-card-title><a [routerLink]="['/detailedsurvey', survey.id]">{{ survey.surveyTitle }}</a></mat-card-title>
                </mat-card-header>
                <mat-card-content id="survey">
                    <p>{{ survey.description | truncate:50 }}</p>
                    <div id="datePublished">Published on {{ survey.datePublished | date:'d MMM, yyyy' }}</div>
                    <button mat-icon-button id="actions" routerLink="edit"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button id="actions" routerLink="delete"><mat-icon>delete</mat-icon></button>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noSurveys>
            <div class="empty-results" fxLayoutAlign="center center">You have not posted any surveys...</div>
        </ng-template>
    </div>
</body>