<body>
    <div class="header">
        <mat-card>
            <mat-card-content>
                <div class="pageTitle"><img src="assets\resources\businessTitle.png" alt="Discover upcoming business"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="detailed-content">
        <mat-card>
            <div class="upper-section">
                <div class="image-wrapper">
                    <img [src]="business?.image" class="custom-picture">
                </div>
                <div class="content-details">
                    <p id="title">{{ business?.businessTitle }}</p>
                    <span id="tag">{{ business?.location }}</span>
                    <p id="first-item"><mat-icon>person</mat-icon>{{ business?.telName }}</p>
                    <p><mat-icon>call</mat-icon>{{ business?.telNo }}</p>
                    <mat-card class="menu">
                        <table>
                            <tr>
                                <th>Item Name</th>
                                <th>Note</th>
                                <th>Price(RM)</th>
                                <th>Quantity</th>
                            </tr>
                            <tr *ngFor="let menuItem of menuItems">
                                <td>{{ menuItem.itemName }}</td>
                                <td>{{ menuItem.note }}</td>
                                <td>{{ menuItem.price }}</td>
                                <td>{{ menuItem.quantity }}</td>
                            </tr>
                        </table>
                    </mat-card>
                    <ng-container *ngIf="userId !== business?.userId">
                        <a mat-raised-button [routerLink]="['/checkout', business?.businessId]">Buy now!</a>
                        <!-- <a mat-raised-button (click)="onCheckout()">Buy now!</a> -->
                    </ng-container>
                    <p id="textarea">{{ business?.description }}</p>
                </div>
            </div>
        </mat-card>
    </div>
</body>