body {
    margin: 0;
    padding: 20px;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: #1D203E;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
}

.checkout-container {
    width: 100%;
    gap: 2%;
    display: flex;
    flex-direction: column;

    .item-table {
        width: 100%;
        margin-bottom: 20px;

        mat-card {
            width: auto;
            padding: 20px;
            background-color: #1e1e1e;
        }
        table {
            tr {
                th, td {
                    padding: 10px;
                    border-bottom: 1px solid #2d2d2d;
                }

                #item {
                    width: 30%;
                }

                #note {
                    width: 50%;
                }

                #price {
                    width: 10%;
                }

                #quantity {
                    width: 10%;
                    text-align: center;
                }
            }
        }
    }

    .total-row {
        width: 100%;
        margin-bottom: 20px;

        mat-card {
            width: auto;
            padding: 20px;
            background-color: #1e1e1e;
        }
    }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -1.5em;
}
