.menu-spacer {
    flex: 1 1 auto;
}

#toolbar a {
    
    text-decoration: none; 
    color: white;
    margin: 0px 5px 0px 5px;

    &:hover {
        transition: transform 0.3s;
        transform: scale(1.1);
        color: #F38D11;
    }

    &:active {
        text-decoration: none;
        color: #F38D11;
    }
}
mat-sidenav-content {
    position: relative;
}