body {
    margin: 0;
    padding: 20px;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: #1D203E;
}

.test{
    height: 500px;
    width: 100%;
    max-width: 500px;
    background-color: red;
    text-align: right;
}
