body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #1D203E;
}

p {
    margin: 0;
    padding: 20px;
    color: white;
}

.test{
    height: 500px;
    width: 500px;
    background-color: red;
    text-align: right;
}