<body>
    <div class="header">
        <mat-card>
            <mat-card-content>
                <div class="pageTitle"><img src="assets\resources\programTitle.png" alt="Discover upcoming program"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="detailed-content">
        <mat-card>
            <div class="upper-section">
                <div class="image-wrapper">
                    <img [src]="program?.image" class="custom-picture">
                </div>
                <div class="content-details">
                    <p id="title">{{ program?.programTitle }}</p>
                    <span id="tag">{{ program?.tag }}</span>
                    <p id="first-item"><mat-icon> location_on</mat-icon>{{ program?.location }}</p>
                    <p><mat-icon>calendar_today</mat-icon>{{ program?.startDate | date:'dd/MM/yyyy' }} - {{ program?.endDate | date:'dd/MM/yyyy' }}</p>
                    <p><mat-icon>access_time</mat-icon>{{ program?.startTime }} - {{ program?.endTime }}</p>
                    <p><mat-icon>call</mat-icon>{{ program?.telNo }}</p>
                    <ng-container *ngIf="!isAuthorized">
                        <a mat-raised-button (click)="registerProgram(program.programId)">Register now!</a>
                    </ng-container>
                    <p id="textarea">{{ program?.description }}</p>
                </div>
            </div>
        </mat-card>
    </div>
</body>