<body>
    <div class="header">
        <mat-card>
            <mat-card-content>
                <div class="pageTitle"><img src="assets\resources\programTitle.png" alt="Discover upcoming program"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="detailed-program-content">
        <mat-card>
            <div class="upper-section">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="custom-picture">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ program.programTitle }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p><mat-icon>calendar_today</mat-icon>{{ program.startDate | date:'d MMMM, yyyy' }}</p>
                        <p><mat-icon>access_time</mat-icon>{{ program.startTime }}</p>
                        <p><mat-icon> location_on</mat-icon>{{ program.location }}</p>
                        <div id="datePublished">Published on {{ program.datePublished | date:'d MMM, yyyy' }}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card>
    </div>
</body>